// Buttons, cards, modals, etc.
@use 'mixins' as *;
@use 'var' as *;

// BUTTON STYLES
.button {
  display: inline-block;
  padding: 20px 36px;
  border-radius: 50px;
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  text-align: center;

  &--is_primary {
    background-color: $blue-70;

    .button-span {
      color: $white;
      white-space: nowrap;
    }

    &:hover {
      background-color: $blue-90;
      transform: rotate(4deg);
    }
  }

  &--is_ghost {
    border: 1px solid $blue-70;

    .button-span {
      color: $blue-70;
      white-space: nowrap;
    }

    &:hover {
      background-color: $blue-90;
      transform: rotate(4deg);
      .button-span {
        color: $white;
      }
    }
  }
}

// SECTION STYLES
.section-card {
  border-radius: $round-60;
  padding: 70px 40px;
  &--white {
    background-color: $white;
  }

  &--image {
    max-height: 780px;
    height: 80vh;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    @include flex-center;

    .section-heading-block {
      background-color: $white;
      padding: 50px 40px;
      border-radius: $round-20;
      max-width: 482px;
      gap: 80px;
    }
  }
}

.section-grid {
  display: grid;

  &--2-col {
  }
  &--3-col {
  }
}

// CARD STYLES
.icon-card {
  &--variant-1 {
    background: none;
    padding: 0;
    margin: 0;
    border: none;

    .card-icon {
      width: 72px;
      height: 72px;
      margin-bottom: 20px;
    }
  }

  &--variant-2 {
    background-color: $white;
    padding: 50px 40px;
    border-radius: $round-30;
    @include flex-column;
    gap: $round-15;

    .card-label-block {
      @include flex-row;
      @include center-x;
      justify-content: space-between;
    }

    .card-label {
      width: 55%;
    }

    .card-icon-block {
      max-width: 144px;
      max-height: 144px;
    }
  }
}

.text-card {
  &--variant-1 {
    background-color: $blue-90;
    padding: 40px 50px;
    border-radius: $round-20;
    @include flex-column;
    gap: $round-15;

    .card-label-block {
      @include flex-row;
      @include center-x;
      justify-content: space-between;
    }

    .card-content-block .par-reg,
    .card-content-block .par-sm {
      color: $gray;
    }

    .card-label {
      color: $white;
    }
  }
}

// LOGO CAROUSEL STYLES
.logo-carousel-block {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0, black 120px, black calc(100% - 120px), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0, black 120px, black calc(100% - 120px), transparent 100%);

  .logo-carousel-wrapper {
    display: flex;
    width: max-content;
    opacity: 0.8;
    animation: infinite-scroll 50s linear infinite;
  }

  .logo-carousel-item {
    height: 44px;
    flex: 0 0 auto;
  }
}

// OTHERS
.hr {
  height: 1px;
  background-color: $blue-90;
  width: 100%;
  opacity: 0.3;
}
