// Buttons, cards, modals, etc.
@use 'mixins' as *;
@use 'var' as *;

// BUTTON STYLES
.button {
  display: inline-block;
  padding: 20px 36px;
  border-radius: 50px;
  transition: transform 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  text-align: center;
  cursor: pointer;
  color: $blue-70;

  &--is_primary {
    background-color: $blue-70;

    .button-span {
      color: $white;
      white-space: nowrap;
    }

    &:hover {
      background-color: $blue-90;
      transform: rotate(4deg);
    }
  }

  &--is_ghost {
    border: 1px solid $blue-70;

    .button-span {
      color: $blue-70;
      white-space: nowrap;
    }

    &:hover {
      background-color: $blue-90;
      border-color: $blue-90;
      transform: rotate(4deg);
      .button-span {
        color: $white;
      }
    }
  }

  &--is_blog {
    padding: 0;

    .button-span {
      font-size: 1.0625rem;
      color: $blue-70;
    }
  }
}

// SECTION STYLES
.section-card {
  border-radius: $round-60;
  padding: 70px 40px;
  &--white {
    background-color: $white;
  }

  &--image {
    max-height: 780px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    @include flex-center;

    .section-heading-block {
      background-color: $white;
      padding: 50px 40px;
      border-radius: $round-20;
      max-width: 482px;
      gap: 80px;
    }
  }

  &--color {
    padding: 80px 40px;
    background-color: $blue-90;

    .section-heading-block {
      @include center-x;
    }

    .section-heading {
      color: $white;
    }

    .button--is_primary:hover {
      background-color: $white;

      .button-span {
        color: $blue-90;
      }
    }
  }
}

.section-grid {
  display: grid;
}

// CARD STYLES
.icon-card {
  &--variant-1 {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    @include flex-column;
    @media (max-width: 552px) {
      flex-direction: row;
      gap: 20px;
      margin-bottom: 20px;
    }

    .card-icon {
      width: 72px;
      aspect-ratio: 1;
      margin-bottom: 20px;

      @media screen and (max-width: 552px) {
        width: 40px;
        aspect-ratio: 1;
        margin-bottom: 0;
      }
    }
  }

  &--variant-2 {
    background-color: $white;
    padding: 50px 40px;
    border-radius: $round-30;
    @include flex-column;
    gap: $round-15;

    .card-label-block {
      @include flex-row;
      @include center-x;
      justify-content: space-between;
    }

    .card-label {
      width: 55%;
    }

    .card-icon-block {
      max-width: 144px;
      max-height: 144px;
    }
  }
}

.text-card {
  &--variant-1 {
    background-color: $blue-90;
    padding: 40px 50px;
    border-radius: $round-20;
    @include flex-column;
    gap: $round-15;

    .card-label-block {
      @include flex-row;
      @include center-x;
      justify-content: space-between;
    }

    .card-content-block .par-reg,
    .card-content-block .par-sm {
      color: $gray;
    }

    .card-label {
      color: $white;
    }
  }
}

.img-card {
  &--blog-variant {
    .card-img-block {
      border-radius: $round-20;
      overflow: hidden;
    }
    .blog-ftd-image {
      max-width: 100%;
      width: 100%;
      aspect-ratio: 0.889;
      margin-bottom: 25px;

      img {
        object-fit: cover;
      }
    }

    .blog-date {
      margin-bottom: 12px;
      opacity: 0.6;
    }

    .card-content-block {
      @include flex-column;
      gap: $round-15;
    }

    .bottom-content {
      @include flex-row;
      @include center-x;
      justify-content: space-between;
    }
  }
}

// LOGO CAROUSEL STYLES
.logo-carousel-block {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0, black 120px, black calc(100% - 120px), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0, black 120px, black calc(100% - 120px), transparent 100%);

  .logo-carousel-wrapper {
    display: flex;
    width: max-content;
    opacity: 0.8;
    animation: infinite-scroll 50s linear infinite;
  }

  .logo-carousel-item {
    height: 44px;
    flex: 0 0 auto;

    @media screen and (max-width: 768px) {
      height: 38px;
    }
  }
}

// OTHERS
.hr {
  height: 1px;
  background-color: $blue-90;
  width: 100%;
  opacity: 0.3;
}

// INPUT FIELD
input,
.input-field {
  padding: 20px 36px;
  width: 100%;
  background-color: $white;
  border-radius: 50px / 50px;
  outline: 1px solid transparent;
  transition: all 150ms ease-in-out;

  &:focus {
    outline-color: $blue-90;
  }

  &:valid {
    outline-color: $blue-90;
  }

  &:invalid {
    outline-color: $red;
  }

  &:not(&:focus) {
    outline-color: transparent;
  }

  // AUTO FILLS
  &:-webkit-autofill {
    -webkit-text-fill-color: $blue-90;
    -webkit-box-shadow: 0 0 0 1000px $white inset;
    background-color: $white;
  }

  &:-moz-autofill {
    box-shadow: 0 0 0 1000px $white inset;
    -moz-text-fill-color: $blue-90;
  }
}
