// Buttons, cards, modals, etc.
@use 'mixins' as *;
@use 'var' as *;
@use 'components/display' as *;

// IMPORT FILES
@use 'components/buttons';
@use 'components/section';
@use 'components/cards';
@use 'components/form';

// LOGO CAROUSEL STYLES
.logo-carousel-block {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0, black 120px, black calc(100% - 120px), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0, black 120px, black calc(100% - 120px), transparent 100%);

  .logo-carousel-wrapper {
    display: flex;
    width: max-content;
    opacity: 0.8;
    animation: infinite-scroll 50s linear infinite;
  }

  .logo-carousel-item {
    height: 44px;
    flex: 0 0 auto;

    @media screen and (max-width: 768px) {
      height: 38px;
    }
  }
}

// OTHERS
.hr {
  height: 1px;
  background-color: $blue-90;
  width: 100%;
  opacity: 0.3;
}
