// Footer styles
@use 'mixins' as *;
@use 'var' as *;

footer {
  padding: 70px 0 0 0;
  .section-heading {
    font-size: 1.875rem;
    letter-spacing: -1px;
  }
  .upper-footer {
    @include flex-row;
    gap: 120px;
  }

  .newsletter {
    align-items: stretch;
  }
  .section-heading {
    margin-bottom: 30px;
  }
}

.foooter-wrapper {
  @include flex-column;
}

.foooter-wrapper form {
  @include flex-row;
  @media screen and (max-width: 552px) {
    flex-direction: column;
  }
  gap: 20px;
}

.newsletter {
  flex: 1.5;
  form {
    margin-bottom: 15px;
  }
  .par-sm {
    width: calc(100% - 191px);
    @media screen and (max-width: 552px) {
      width: 100%;
    }
  }
}

.footer-info {
  @include flex-row;
  justify-content: space-between;
  flex: 1;
  padding-left: 80px;
}

.bottom-footer {
  @include flex-row;
  @media screen and (max-width: 552px) {
    flex-direction: column;
    margin-top: 80px;
  }
  justify-content: space-between;
  margin-top: 120px;

  .copyright,
  .privacy {
    margin: 10px 0;
  }
}

.footer-logo-container {
  max-width: 100%;
  width: 100%;
  margin: 40px auto 72px;
  overflow-wrap: break-word;
}

.social-link-wrappper,
.foot-link-wrappper {
  .foot-link-item {
    padding: 7px 0;
  }
}

// RESPONSIVE
@media screen and (max-width: 992px) {
  footer {
    .upper-footer {
      @include flex-column;
      gap: 80px;
    }
  }

  .footer-info {
    padding-left: 0;
    .social-links,
    .sitemap {
      flex: 1;
    }
  }
}
