@use 'styles/style-hub' as *;

.page-heading {
  // H1
  @include font(600, 5rem, none);
  letter-spacing: -2px;
  @include screen-1024 {
    font-size: 4.25rem;
  }
  @include screen-552 {
    font-size: 3.25rem;
    letter-spacing: -1.5px;
  }
  @include screen-320 {
    font-size: 2.25rem;
  }
}

.section-heading {
  // H2
  @include font(600, 3.375rem, none);
  letter-spacing: -2px;
  @include screen-1024 {
    font-size: 2.75rem;
  }
  @include screen-552 {
    font-size: 2.25rem;
  }
  @include screen-320 {
    font-size: 2rem;
  }
}

.card-label {
  // H3
  @include font(600, 2.5rem, none);
  letter-spacing: -2px;
  @include screen-1024 {
    font-size: 2rem;
  }
  @include screen-552 {
    font-size: 1.75rem;
  }
}

.mem-name,
.blog-title {
  // H4
  @include font(600, 1.875rem, none);
  letter-spacing: -1px;
  @include screen-1024 {
    font-size: 1.5rem;
  }

  @include screen-768 {
    font-size: 1.375rem;
  }
}

.par-reg,
.button,
.mem-pos,
span {
  // H5
  @include font(normal, 1.4375rem, none);
  @include screen-1024 {
    font-size: 1.25rem;
  }
  @include screen-768 {
    font-size: 1.125rem;
  }
}

.hero-heading,
.section-heading {
  line-height: 1.2;
  color: $black;
}

.par-sub {
  @include font(normal, 1.75rem, none);

  @include screen-1024 {
    font-size: 1.5rem;
  }
  @include screen-552 {
    font-size: 1.25rem;
  }
}

.input-field,
.par-sm,
.par-reg {
  color: $black-90;
}

label,
.input-field,
.par-sm {
  // H6
  @include font(normal, 1.0625rem, none);
  @include screen-768 {
    font-size: 1rem;
  }
}

.center-text {
  text-align: center;
  @include screen-552 {
    text-align: left;
  }
}

.section-heading-block {
  .section-heading.center-text {
    max-width: 805px;
    margin: 0 auto;
  }
}

// GRID
@media screen and (min-width: 1440) {
  //Grid Layouts
  .grid-2-col {
    @include grid-col(2);
  }

  .grid-3-col {
    @include grid-col(3);
  }

  .grid-4-col {
    @include grid-col(4);
  }
}

//Laptop
@media screen and (max-width: 1439px) {
  //Grid Layouts
  .grid-2-col {
    @include grid-col(2);
  }

  .grid-3-col,
  .grid-4-col {
    @include grid-col(3);
  }
}

@include screen-992 {
  .grid-2-col,
  .grid-3-col,
  .grid-4-col {
    @include grid-col(2);
  }
}
@include screen-552 {
  .grid-2-col,
  .grid-3-col,
  .grid-4-col {
    @include grid-col(1);
  }
}

.section-grid {
  &--2-col {
    @extend .grid-2-col;
  }
  &--3-col {
    @extend .grid-3-col;
  }
}

a:not(.foot-link-item a, .nav-link-item a) {
  color: $blue-70;
}
