// Header/nav styles
@use 'mixins' as *;
@use 'var' as *;

.nav-wrapper {
  justify-content: space-between;
  padding-block: 30px;

  .menu-icon {
    max-width: 44px;
    max-height: 44px;
    width: 100%;
    height: 100%;
  }

  .site-logo {
    max-width: 200px;
    height: 44px;
    vertical-align: middle;
  }
}

.nav-link-container {
  @include center-y;
}
.nav-link-wrappper {
  .nav-link-item {
    padding: 7px 0;
  }
}

@media screen and (min-width: 769px) {
  .nav-open-block,
  .nav-close-block {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .enable {
    padding: 0;
    background-color: $blue-90;
  }
  .nav-link-container {
    display: flex;
    padding: 20px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
  }

  .nav-link-wrappper {
    &.row {
      flex-direction: column;
      align-items: start;

      &.gap-40 {
        gap: 20px;
      }
    }
    .nav-link-item {
      font-size: 2.25rem;
      padding: 0;
    }
  }
}
