@use 'styles/style-hub' as *;
// Header/nav styles

header {
  transition: all 300ms ease;
  z-index: 10;

  &.is_fixed {
    position: sticky;
    top: 0;
    z-index: 5;
    background: linear-gradient(to bottom, rgba(231, 240, 255, 0.51) 0%, rgba(231, 240, 255, 0.3) 40%, rgba(231, 240, 255, 0) 100%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
    @media (min-width: 769px) {
      .nav-wrapper {
        padding-block: 15px;
      }
    }
  }
}

.nav-wrapper {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  transition: all 150ms ease;
  @media (max-width: 768px) {
    padding-block: 20px;
  }

  .menu-icon {
    max-width: 44px;
    max-height: 44px;
    width: 100%;
    height: 100%;
  }

  .nav-logo-block {
    max-width: 200px;
    height: 44px;
    vertical-align: middle;
    transition: 500ms ease-in-out;

    @media (max-width: 552px) {
      height: 24px;
    }
  }
}

.nav-link-container {
  @include center-y;
}

.nav-link-wrapper {
  .nav-link-item {
    padding: 7px 0;
  }
}

// Desktop specific
@media screen and (min-width: 769px) {
  .nav-open-block,
  .nav-close-block {
    display: none;
  }
}

// Mobile specific
@media screen and (max-width: 768px) {
  .nav-logo-block,
  .menu-icon {
    z-index: 10;
  }

  .nav-link-container {
    display: flex;
    padding: 20px;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: $blue-90;
    clip-path: inset(0 0 0 100%);
    transition: clip-path 0.7s cubic-bezier(0.35, 0, 0.175, 1);

    &.is_open {
      clip-path: inset(0 0 0 0);
    }
  }

  .nav-open-block {
    padding: 5px;
  }

  .nav-close-block {
    background-color: $white;
    border-radius: 50%;
    padding: 10px;

    img {
      filter: invert(40%) sepia(72%) saturate(7354%) hue-rotate(214deg) brightness(97%) contrast(113%);
    }
  }

  .nav-link-wrapper {
    transform: translateX(130%);
    transition: transform 500ms ease;

    &.row {
      flex-direction: column;
      align-items: flex-start;

      &.gap-40 {
        gap: 20px;
      }
    }

    .nav-link-item {
      font-size: 2.25rem;
      padding: 0;
      color: $white;
    }
  }

  .enable {
    padding: 0;
    background-color: $blue-90;
  }

  .white-filter {
    transition-delay: 350ms;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(170deg) brightness(107%) contrast(101%);
  }

  .open {
    transform: translateX(0);
    transition-delay: 150ms;
  }

  .hidden {
    display: none;
  }
}
