// ALL ADJUSTMENTS TO THE GLOBAL LAYOUT OF THE SITE
@use 'styles/style-hub' as *;

// GENERAL LAYOUT STYLES
.section-wrapper {
  max-width: 1392px;
  margin: 0 auto;
  padding: 0 40px;

  @include screen-1024 {
    padding: 0 20px;
  }
}

.section {
  padding: 70px 0;

  @include screen-1024 {
    padding: 50px 0;
  }
}

.content-block {
  max-height: max-content;
  flex: 1;
}

.section-heading-block {
  @include flex-column;
  align-items: flex-start;
  gap: $round-25;

  .button {
    margin-top: $round-25;
  }
}

.content-wrapper {
  //.content-wrapper:not(.content-wrapper.section-grid, .content-wrapper.section-card) {
  @include flex-column;
}

// SECTION STYLES
.home_about-section.section {
  padding: 0;
}

.w-home_about-container {
  .section-content-block {
    @include flex-row-reverse;
  }
  .section-image-block {
    flex: 0.8;
    min-height: 489px;

    img {
      object-fit: cover;
    }
  }
}

.home_about {
  &--img-1 {
    width: calc(100% - 30%);
    height: calc(100% - 15%);
    border-radius: $round-20;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &--img-2 {
    width: calc(100% - 30%);
    height: calc(100% - 12%);
    border-radius: $round-20;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.section-main-01 .section-card {
  @include flex-column;
  padding: 70px 40px 40px;
  align-items: center;
  @include screen-552 {
    padding: 50px 20px;
  }
}

.section-main-02 .col {
  align-items: center;
}

.ic-3-3 {
  margin-top: 80px;
  @include screen-552 {
    margin-top: 0;
  }
}

.cta-section .section-card--image {
  background: url('../../assets/resolven5\ 2.jpg') no-repeat center center/cover;
}

.section-main-03 .section-grid--3-col .section-card-block {
  grid-column: span 2;
}

.section-main-04 .section-heading-block {
  gap: 30px;
}

.section-main-05 .section-heading-block {
  @include flex-row;
  @include center-x;
  justify-content: space-between;

  .button {
    margin: unset;
  }
}
