// ALL ADJUSTMENTS TO THE GLOBAL LAYOUT OF THE SITE
@use 'mixins' as *;
@use 'var' as *;

// GENERAL LAYOUT STYLES
.section-wrapper {
  max-width: 1392px;
  margin: 0 auto;
  padding: 0 40px;

  @media screen and (max-width: 1024px) {
    padding: 0 20px;
  }
}

.section {
  padding: 70px 0;
}

.content-block {
  max-height: max-content;
}

.is_sticky {
  @media screen and (min-width: 769px) {
    position: sticky;
    top: calc(84px + 40px); // ANav height + padding
  }
}

.section-heading-block {
  @include flex-column;
  align-items: flex-start;
  gap: $round-25;

  .button {
    margin-top: $round-25;
  }
}

.fwidth-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 0 0;

  .section-image-block {
    flex: 0.8;
    max-height: 1080px;
    height: 90vh;

    img {
      object-fit: cover;
    }
  }

  .section-content-wrapper {
    display: flex;
    flex: 1;
    padding-left: 100px;
    @include center-x;
    justify-content: flex-start;

    .content-block {
      max-width: 660px;
      @media (max-width: 1024px) {
        max-width: 100%;
      }
    }
  }
}

.content-wrapper:not(.content-wrapper.section-grid, .content-wrapper.section-card) {
  @include flex-column;
}

// SECTION STYLES
.home_about-section.section {
  padding: 0;
}

.hero-section {
  .hero-text-block {
    @include center-x;
    justify-content: space-between;
    width: 100%;
    @include flex-row-reverse;
  }

  .hero-image-block {
    max-height: 75vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: $round-60;
    @include flex-center;
  }

  .par-sub {
    text-align: right;
    width: 90%;
  }
}

.w-home_about-container {
  .section-content-block {
    @include flex-row-reverse;
  }
  .section-image-block {
    flex: 0.8;
    min-height: 489px;

    img {
      object-fit: cover;
    }
  }
}

.home_about {
  &--img-1 {
    width: calc(100% - 30%);
    height: calc(100% - 15%);
    border-radius: $round-20;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &--img-2 {
    width: calc(100% - 30%);
    height: calc(100% - 12%);
    border-radius: $round-20;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.section-main-01 .section-card {
  @include flex-column;
  padding: 70px 40px 40px;
  align-items: center;
  @media (max-width: 768px) {
    padding: 50px 20px 20px;
  }
}

.section-main-02 .col {
  align-items: center;
}

.ic-3-3 {
  @media screen and (min-width: 1025px) {
    margin-top: 80px;
  }
}

.cta-section .section-card--image {
  background: url('../../assets/resolven5\ 2.jpg') no-repeat center center/cover;
}

.section-main-03 .section-grid--3-col .section-card-block {
  grid-column: span 2;
}

.section-main-04 .section-image-block {
  border-radius: 0 60px 60px 0;
  overflow: hidden;
}

.section-main-04 .section-heading-block {
  gap: 30px;
}

.section-main-05 .section-heading-block {
  @include flex-row;
  @include center-x;
  justify-content: space-between;

  .button {
    margin: unset;
  }
}
