@use '_var' as *;
// Reusable mixins
@mixin font($weight, $size: 16px, $transform: none) {
  font-family: 'Syne';
  font-weight: $weight;
  font-size: $size;
  font-optical-sizing: auto;
  text-transform: $transform;
  text-decoration: none;
}

// FLEXBOX MIXINS
@mixin center-x {
  align-items: center;
}

@mixin center-y {
  justify-content: center;
}

@mixin flex-settings($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
}

@mixin flex-center {
  display: flex;
  place-content: center;
}

@mixin flex-column {
  @include flex-settings(column);
}

@mixin flex-column-reverse {
  @include flex-settings(column-reverse);
}

@mixin flex-row {
  @include flex-settings(row);
}

@mixin flex-row-reverse {
  @include flex-settings(row-reverse);
}

// GRID
@mixin grid-col($column) {
  display: grid;
  grid-template-columns: repeat($column, 1fr);
}
