@use '_var' as *;
@use 'components/display';

// Reusable mixins
@mixin font($weight, $size: 16px, $transform: none) {
  font-family: 'Syne';
  font-weight: $weight;
  font-size: $size;
  font-optical-sizing: auto;
  text-transform: $transform;
  text-decoration: none;
}

@mixin screen-1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin screen-992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin screen-768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin screen-552 {
  @media (max-width: 552px) {
    @content;
  }
}

@mixin screen-320 {
  @media (max-width: 320px) {
    @content;
  }
}
