@use 'styles/style-hub' as *;

// Media queries and responsive design

@media screen and (max-width: 1024px) {
  .section-main-07 {
    .content-wrapper-row {
      flex-direction: column;
    }
    .gap-60 {
      gap: 20px;
    }
  }
}

@media screen and (max-width: 992px) {
  .w-home_about-container {
    .grid-3-col {
      grid-template-columns: repeat(3, 1fr);
    }
    .home_about {
      &--img-1 {
        width: calc(100% - 288px);
        height: calc(100% - 15%);
        // right: 40px;
      }
      &--img-2 {
        width: calc(100% - 288px);
        height: calc(100% - 12%);
        // left: 40px;
      }
    }
    .section-content-block {
      flex-direction: column;
      width: 100%;
    }
    .section-image-block {
      min-height: unset;
      width: 100%;
      aspect-ratio: 1 / 1.25;
      padding-inline: 20%;
    }
  }

  #w-about_values-section {
    .content-wrapper-row {
      flex-direction: column-reverse;
    }

    .section-image-block {
      aspect-ratio: 4 / 3;
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .ic-3-3 {
    margin-top: 0;
  }

  .section-wrapper.w-cta-container {
    //padding: 0;

    .section-card--image {
      justify-content: flex-end;
    }
    .section-heading-block {
      gap: 40px;
    }
  }

  .fwidth-wrapper .gap-80 {
    gap: 40px;
  }

  .section-main-07 {
    .grid-3-col {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 552px) {
  .hero-section {
    .hero-text-block {
      flex-direction: column;
      align-items: start;
    }

    .hero-text-block.gap-60 {
      gap: 40px;
    }

    .hero-image-block {
      aspect-ratio: 3 / 4;
      img {
        object-fit: cover;
      }
    }

    .par-sub {
      text-align: left;
    }

    .button {
      margin-top: 25px;
    }
  }

  .w-home_about-container {
    .grid-3-col {
      grid-template-columns: repeat(1, 1fr);
    }
    .home_about {
      &--img-1 {
        width: 70%;
        height: calc(100% - 15%);
        // right: 40px;
      }
      &--img-2 {
        width: 70%;
        height: calc(100% - 12%);
        // left: 40px;
      }
    }
  }

  .section-main-05 .section-heading-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .section-main-07 {
    .grid-3-col {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
