// Media queries and responsive design
@use 'mixins' as *;
@use 'var' as *;

// Laptop Screens
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .section-main-03 {
    .section-grid--3-col {
      grid-template-columns: repeat(2, 1fr);
      .section-card-block {
        grid-column: unset;
      }
    }
    .grid-2-col {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .fwidth-wrapper .section-image-block {
    height: auto;
  }

  .fwidth-wrapper .section-content-wrapper {
    padding: 30px 0 30px 65px;
  }

  .section-main-01 .section-card {
    padding: 70px 40px;
  }
}

// Tablet Screens
@media screen and (max-width: 768px) and (min-width: 553px) {
  .section-main-03 {
    .section-grid--3-col {
      grid-template-columns: repeat(1, 1fr);
      .section-card-block {
        grid-column: unset;
      }
    }
    .grid-2-col {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .w-home_about-container {
    .grid-3-col {
      grid-template-columns: repeat(3, 1fr);
    }
    .home_about {
      &--img-1 {
        width: calc(100% - 288px);
        height: calc(100% - 15%);
        // right: 40px;
      }
      &--img-2 {
        width: calc(100% - 288px);
        height: calc(100% - 12%);
        // left: 40px;
      }
    }
  }

  .section-wrapper.w-cta-container {
    //padding: 0;

    .section-card--image {
      justify-content: flex-end;
    }
    .section-heading-block {
      gap: 40px;
    }
  }
}

// Smaller Screens General
@media screen and (max-width: 1024px) {
  .hero-section.section {
    padding-top: 30px;
  }
  .section-heading-block {
    width: 100%;
  }
  .icon-card {
    &--variant-2 {
      .card-icon-block {
        width: 80px;
        aspect-ratio: 1;
      }
    }
  }
  .section {
    padding: 50px 0;
  }

  .w-home_about-container {
    .section-content-block {
      @include flex-column;
      width: 100%;
    }
    .section-image-block {
      width: 100%;
      aspect-ratio: 4 / 3;
      padding-inline: 20%;
    }
  }

  .section-main-02 .grid-2-col {
    grid-template-columns: repeat(1, 1fr);
  }

  .fwidth-wrapper {
    padding: 0 20px;
    flex-direction: column;

    .section-image-block {
      border-radius: 60px;
      width: 100%;
      aspect-ratio: 4 / 3;
    }

    .section-content-wrapper {
      padding: 40px 0;
    }

    .gap-80 {
      gap: 40px;
    }
  }

  .section-main-01 {
    .gap-70 {
      gap: 40px;
    }
  }

  .w-home_about-container .section-image-block {
    min-height: 200px;
    aspect-ratio: 2 / 2.5;
  }
}

@media screen and (max-width: 768px) {
  .recent_stories .grid-content .is_card:nth-of-type(n + 5) {
    display: none;
  }
}

// Mobile Screens
@media screen and (max-width: 552px) {
  .hero-section {
    .hero-text-block {
      flex-direction: column;
      align-items: start;
    }

    .hero-image-block {
      aspect-ratio: 1;
      img {
        object-fit: cover;
      }
    }

    .par-sub {
      text-align: left;
    }

    .button {
      margin-top: 25px;
    }
  }

  .icon-card {
    &--variant-2 {
      padding: 20px 20px 30px;
      .card-label-block {
        flex-direction: column-reverse;
        align-items: start;
        gap: 30px;
      }

      .card-label {
        width: 100%;
      }
    }
  }

  .text-card {
    &--variant-1 {
      padding: 30px;
    }
  }

  .section-card {
    &--color {
      padding: 50px 30px;

      .button {
        width: 100%;
      }
    }

    &--image {
      justify-content: center;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0f1e3b87;
      }

      .section-heading-block {
        background-color: transparent;
        padding: 0;
        gap: 40px;
        .section-heading {
          color: $white;
          text-align: center;
        }

        .button {
          width: 100%;
        }
      }
    }
  }
}
