@use '../styles/style-hub' as *;

// CARD STYLES
.icon-card {
  &--variant-1 {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    @include flex-column;
    @media (max-width: 552px) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }

    .card-icon {
      width: 72px;
      aspect-ratio: 1;
      margin-bottom: 20px;

      @media screen and (max-width: 552px) {
        width: 40px;
        aspect-ratio: 1;
        margin-bottom: 0;
      }
    }
  }

  &--variant-2 {
    background-color: $white;
    padding: 50px 40px;
    border-radius: $round-30;
    @include flex-column;
    gap: $round-15;
    @include screen-552 {
      padding: 20px 20px 30px;
    }

    .card-label-block {
      @include flex-row;
      @include center-x;
      justify-content: space-between;

      @include screen-552 {
        flex-direction: column-reverse;
        align-items: start;
        gap: 40px;
      }
    }

    .card-label {
      width: 55%;
      @include screen-552 {
        width: 100%;
      }
    }

    .card-icon-block {
      max-width: 144px;
      max-height: 144px;
      @include screen-768 {
        width: 80px;
        aspect-ratio: 1;
      }
    }
  }
}

.text-card {
  &--variant-1 {
    background-color: $blue-90;
    padding: 40px 50px;
    border-radius: $round-20;
    @include flex-column;
    gap: $round-15;
    @include screen-552 {
      padding: 30px 20px;
    }

    .card-label-block {
      @include flex-row;
      @include center-x;
      justify-content: space-between;
    }

    .card-content-block .par-reg,
    .card-content-block .par-sm {
      color: $gray;
    }

    .card-label {
      color: $white;
    }
  }
}

.img-card {
  &--blog-variant {
    .card-img-block {
      border-radius: $round-20;
      overflow: hidden;
    }
    .blog-ftd-image {
      max-width: 100%;
      width: 100%;
      aspect-ratio: 0.889;
      margin-bottom: 25px;

      img {
        object-fit: cover;
      }
    }

    .blog-date {
      margin-bottom: 12px;
      opacity: 0.6;
    }

    .card-content-block {
      @include flex-column;
      gap: $round-15;
    }

    .bottom-content {
      @include flex-row;
      @include center-x;
      justify-content: space-between;
    }
  }

  &--team-variant {
    border-radius: 30px;
    overflow: hidden;
    @include flex-column;

    .card-img-block {
      width: 100%;
      aspect-ratio: 1;
    }

    .card-label-block {
      background-color: $white;
      padding: 40px 30px 30px;
    }
  }
}
