@use '../styles/style-hub' as *;

// FLEX CLASSES
.col {
  @include flex-settings(column);
  align-items: start;
}

.col-rev {
  @include flex-settings(column-reverse);
}

.row {
  @include flex-settings(row);
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.row-rev {
  @include flex-settings(row-reverse);
}

.is_x-centered {
  @include center-x;
}

.is_y-centered {
  @include center-y;
}

.section-image-block,
.section-text-block {
  flex: 1;
}

// GRID
.grid-2-col {
  @include grid-col(2);

  @include screen-768 {
    @include grid-col(1);
  }
}

.grid-3-col {
  @include grid-col(3);

  @include screen-992 {
    @include grid-col(2);
  }

  @include screen-552 {
    @include grid-col(1);
  }
}

.grid-4-col {
  @include grid-col(4);

  @include screen-1440 {
    @include grid-col(3);
  }

  @include screen-992 {
    @include grid-col(2);
  }

  @include screen-552 {
    @include grid-col(1);
  }
}

.section-grid {
  &--2-col {
    @extend .grid-2-col;
  }
  &--3-col {
    @extend .grid-3-col;

    .span-2 {
      grid-column: span 2;
      @include screen-1024 {
        grid-column: unset;
      }
    }

    @include screen-1024 {
      @include grid-col(2);
    }

    @include screen-768 {
      @include grid-col(1);
    }

    @include screen-1024 {
      .grid-2-col {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    @include screen-768 {
      .grid-2-col {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @include screen-552 {
      .grid-2-col {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
