@use '../styles/style-hub' as *;

// SECTION STYLES

.hero-section {
  .hero-text-block {
    @include center-x;
    justify-content: space-between;
    width: 100%;
    @include flex-row-reverse;
  }

  .hero-image-block {
    max-height: 75vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: $round-60;
    @include flex-center;
  }

  .par-sub {
    text-align: right;
    width: 90%;
  }
}

.header-section {
  .section-heading-block {
    flex: 0.7;
  }

  .section-image-block {
    width: 100%;
    aspect-ratio: 3 / 2;
    border-radius: $round-60;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  @include screen-1024 {
    .content-wrapper-row {
      flex-direction: column;
    }

    .section-image-block {
      aspect-ratio: 21 / 9;
    }

    .gap-20 {
      gap: 60px;
    }
  }

  @include screen-552 {
    .section-image-block {
      aspect-ratio: 2 / 3;
    }
  }
}

.section-card {
  border-radius: $round-60;
  padding: 70px 40px;
  &--white {
    background-color: $white;
  }

  &--image {
    max-height: 780px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    @include flex-center;

    .section-heading-block {
      background-color: $white;
      padding: 50px 40px;
      border-radius: $round-20;
      max-width: 482px;
      gap: 80px;
    }

    @include screen-552 {
      justify-content: center;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0f1e3b87;
      }

      .section-heading-block {
        background-color: transparent;
        padding: 0;
        gap: 40px;
        .section-heading {
          color: $white;
          text-align: center;
        }

        .button {
          width: 100%;
        }
      }
    }
  }

  &--color {
    padding: 80px 40px;
    background-color: $blue-90;

    .section-heading-block {
      @include center-x;
    }

    .section-heading {
      color: $white;
    }

    .button--is_primary:hover {
      background-color: $white;

      .button-span {
        color: $blue-90;
      }
    }
  }
}

.section-grid {
  display: grid;
}

.fwidth-wrapper {
  @include flex-row;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 0 0;

  @include screen-768 {
    padding: 0 20px;
    flex-direction: column;
  }

  .section-image-block {
    flex: 0.8;
    max-height: 1080px;
    height: 90vh;
    border-radius: 0 60px 60px 0;
    overflow: hidden;
    @include screen-1024 {
      flex: 1;
    }

    @include screen-768 {
      border-radius: 60px;
      width: 100%;
      aspect-ratio: 16 / 9;
    }

    @include screen-552 {
      aspect-ratio: 2 / 2.5;
    }

    img {
      object-fit: cover;
    }
  }

  .section-content-wrapper {
    display: flex;
    flex: 1;
    padding-left: 100px;
    @include center-x;
    justify-content: flex-start;
    @include screen-1024 {
      padding-left: 30px;
    }
    @include screen-768 {
      padding: 40px 0;
    }

    .content-block {
      max-width: 660px;
      @media (max-width: 1024px) {
        max-width: 100%;
      }
    }
  }
}
