<div class="section-wrapper">
  <div class="foooter-wrapper">
    <div class="upper-footer">
      <div class="newsletter col">
        <h2 class="section-heading">Newsletter</h2>
        <form action="">
          <input class="input-field" type="email" name="email" id="email" placeholder="Email Address" autocomplete="email" required />
          <button class="button button--is_primary"><span class="button-span">Subscribe</span></button>
        </form>

        <p class="par-sm">By subscribing, you agree to our Privacy Policy, and you agree to receive updates from us.</p>
      </div>
      <div class="footer-info">
        <div class="sitemap">
          <h2 class="section-heading">Sitemap</h2>
          <ul class="foot-link-wrappper col">
            <li class="foot-link-item par-reg">
              <a href="../home/" class="" id="" data-page="home">Home</a>
            </li>
            <li class="foot-link-item par-reg">
              <a href="../about/" class="" id="" data-page="about">About</a>
            </li>
            <li class="foot-link-item par-reg">
              <a href="" class="" id="" data-page="stories">Stories</a>
            </li>
            <li class="foot-link-item par-reg">
              <a href="" class="" id="" data-page="contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="social-links">
          <h2 class="section-heading">Social</h2>
          <ul class="social-link-wrappper col">
            <li class="foot-link-item par-reg">
              <a href="" class="" id="">Facebook</a>
            </li>
            <li class="foot-link-item par-reg">
              <a href="" class="" id="">Twitter</a>
            </li>
            <li class="foot-link-item par-reg">
              <a href="" class="" id="">Instagram</a>
            </li>
            <li class="foot-link-item par-reg">
              <a href="" class="" id="">Youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bottom-footer">
      <div class="copyright">
        <p class="par-sm">© Copyright 2025. <a href="../home/">PayPalace</a>, Inc. All rights reserved.</p>
      </div>
      <!--
      <div class="address">
        <p class="par-sm">2553 Gateway AvenueLos Angeles, CA 90017</p>
      </div>
      <div class="email">
        <p class="par-sm">support@example.com</p>
      </div>-->
      <div class="privacy">
        <a class="button button--is_blog" href="/home/"><span class="button-span">Privacy Policy</span></a>
      </div>
    </div>
    <div class="footer-logo-container">
      <div class="footer-logo">
        <img src="../assets/footer-logo.svg" alt="Footer Logo" />
      </div>
    </div>
  </div>
</div>
