<div class="section-wrapper">
  <div class="nav-wrapper" id="nav-wrapper">
    <!-- Logo -->
    <div class="nav-logo-block" id="nav-logo">
      <img src="../assets/paypalace-logo-dark.svg" alt="PayPalace Logo on Dark" class="nav-logo site-logo" />
    </div>

    <!-- Menu Open Icon -->
    <div class="menu-icon nav-open-block" id="menu-open">
      <img src="../assets/icons/Menu.svg" alt="Menu Button" class="icon" />
    </div>

    <!-- Menu Close Icon -->
    <div class="menu-icon nav-close-block" id="menu-close">
      <img src="../assets/icons/Close.svg" alt="Close Menu Button" class="icon" />
    </div>

    <!-- Navigation Links -->
    <nav class="nav-link-container col gap-40" id="nav-links" aria-label="Main navigation">
      <ul class="nav-link-wrapper row gap-40">
        <li class="nav-link-item par-sm"><a href="" data-page="home">Home</a></li>
        <li class="nav-link-item par-sm"><a href="" data-page="about">About</a></li>
        <li class="nav-link-item par-sm"><a href="" data-page="stories">Stories</a></li>
        <li class="nav-link-item par-sm"><a href="" data-page="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
