// Reset Style
@use 'partials/reset';
// Variables and Components
@use 'partials/var' as *;
@use 'partials/mixins' as *;
@use 'partials/comp';
@use 'partials/global';
// Header and Footer
@use 'partials/footer';
@use 'partials/header';
// Layout
@use 'partials/layout';
// Responsive Design
@use 'partials/resp';

html,
body {
  background-color: $blue-10;
  scroll-behavior: smooth;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
}

.is_sticky {
  position: sticky;
  top: calc(84px + 40px);
  @include screen-768 {
    position: unset;
  }
}
