// RESET
@use 'partials/font';
@use 'partials/reset';

// STYLES
@use 'partials/styles/style-hub' as *;
@use 'partials/global';

// LAYOUTS
@use 'partials/footer';
@use 'partials/header';
@use 'partials/layout';
@use 'partials/comp';
@use 'partials/resp';

html,
body {
  background-color: $blue-10;
  scroll-behavior: smooth;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
}

.is_sticky {
  position: sticky;
  top: calc(84px + 40px);
  @include screen-768 {
    position: unset;
  }
}
